@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: inline;
  position: relative;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #2d3ce8;
  transition: width 0.3s ease;
  z-index: 1;
}

.hover_collapse .sidebar {
  width: 80px;
}

.sidebar span,
.sidebar .icon {
  transition: opacity 0.4s ease-in;
  opacity: 1;
}

.sidebar p {
  transition: all 0.4s ease-in;
  opacity: 1;
  width: 100%;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* membatasi teks menjadi 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.1; /* mengatur jarak antar baris */
}

.hover_collapse .sidebar span,
.hover_collapse .sidebar p,
.hover_collapse .sidebar .icon {
  transition: all 0.4s ease-in;
  display: none;
  opacity: 0;
}

.hover_collapse .sidebar .wax {
  width: 80px;
}

nav:not(.sidebar) {
  left: 300px;
  transition: all 0.3s ease;
}

.hover_collapse nav:not(.sidebar) {
  left: 80px;
}

.hover_collapse .sidebar .photo {
  width: 60;
  height: 60;
}

.hover_collapse .sidebar .profile {
  padding-top: 30px;
}

.hover_collapse .sidebar ul li svg,
.hover_collapse .sidebar ul li img {
  min-width: 30px;
  width: 30px;
  height: 30px;
}

.sidebar ul li svg,
.sidebar ul li img {
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.main_container {
  width: 100%;
  padding-left: 320px;
  padding-right: 18px;
  transition: padding-left 0.2s ease-in-out, padding-right 0.2s ease-in-out;
}

.hover_collapse .main_container {
  padding-left: 130px;
  padding-right: 50px;
  /* padding-top: 110px;  */
  /* padding-bottom: 82px;  */
}
