@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 22px; /* Perbesar ikon kalender */
    color: gray; /* Warna default ikon */
    cursor: pointer;
}

input[type="date"]:focus::-webkit-calendar-picker-indicator {
    color: blue; /* Warna ikon saat ditekan */
}